.ma {
  width: 80%;
  gap: 40px;
  margin: auto;
}

.m1 {
  width: 100%;
  margin: 2rem 0;
}

.banner {
  margin-bottom: 1rem;
}

.colTtl {
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 320px) {
  .banner {
    display: none;
  }
}
