.ma {
  width: 80%;
  margin: auto;
  gap: 120px;
}

.m1 {
  gap: 10px;
  width: 100%;
  margin: 2rem 0;
}

.banner {
  gap: 20px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
  .banner {
    display: none;
  }
}
