.outerDiv {
  display: block;
  width: 110%;
  height: 450px;        /* You can adjust: 180, 220, 260, 300 */
  
  border-radius: 10px;  /* Optional - looks better */
  cursor: pointer;
}

.img {
  width: 100%;
  height: 110%;
  
  object-position: left; /* Move image to left side */
  
}

